@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.cont {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
}
.cont div {
    width: 30%;
    padding: 50px;
}
.cont img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

/* 두번째 .cont 안에 있는 div에게
order값 적용 */
.cont:nth-child(2) div {
    order: 1;
}