@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
}
header {
    height: 100px;
    background-color: antiquewhite;
}
header .inner {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
header .inner h1 {
    line-height: 100px;
}
header .inner nav .gnb .depth01 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    /* inline-block의 수직정렬 : 
    위로,기본적으로 아래쪽에 맞춰 정렬 */
    text-align: center;
}
header .inner nav .gnb .depth01 > a {
    line-height: 100px;
    padding: 0 30px;
    display: block;
}
header .inner nav .gnb .depth01 > a:hover {
    background-color: aliceblue;
}
header .inner nav .gnb .depth01 .depth02 {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: aqua;
    padding: 20px;
    display: none;
}
/* 1차메뉴 마우스오버 시 2차메뉴 나타남 */
header .inner nav .gnb .depth01:hover .depth02{
    display: block;
}