@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cont01 {
    max-width: 1280px;
    width: 95%;
    margin: 100px auto;
   display: flex;
   justify-content: space-between;
}
.cont01 div {
    width: calc(100% / 4 - 20px);
}
.cont01 div img {
    height: 400px;
    display: block;
}
.cont01 div a {
    width: 100%;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    background-color: rgb(109, 92, 80);
    color: aliceblue;
}
.cont div:hover a {
    display: block;
}
@media screen and (max-width:1024px) {
    .cont01 div a {
        display: block;
    }
}/* max-width:1024px */
@media screen and (max-width:767px) {
    .cont01 {
        flex-wrap: wrap;
    }
    .cont01 div {
        width: 48%
    }
}/* max-width:767px */